


@{

    Layout = "_LayoutAdmin";}
    <div id="error" value="1">

        <link href="~/css/ErrorMensage.css" rel="stylesheet">

        <span id="alert">Existe  ordem(s) de serviço ativas com este serviço inserido para corrigir delete a OS ou mude o nome do serviço na OS</span>
        <br />

        <a id="os" class="btn" href="/Gestao/OS">Voltar Para OS</a>
        <a id="cliente" class="btn" href="/Gestao/Cliente">Ir para Clientes</a>

    
    </div>