@model projetos.Models.Cliente
@{

    Layout = "_LayoutAdmin";}


<h2>Editar Cliente</h2>


<form class="form-horizontal" asp-controller="Cliente" asp-action="Atualizar" method="POST">
    <input type="hidden" asp-for="ID">
    <label>Nome</label>
    <input type="text" asp-for="Nome" class="form-control" placeholder="Ex: Maria Joaquina">
    <br />
    <label>CPF</label>
    <input type="number" asp-for="CPF" class="form-control" placeholder="Ex: 000.000.000-00">
    <br />
    <label>Bairro</label>
    <input type="text" asp-for="Bairro" class="form-control" placeholder="Ex: Itaigara">
    <br />
    <label>Cidade</label>
    <input type="text" asp-for="Cidade" class="form-control" placeholder="Ex: Salvador">
    <br />
    <label>Telefone</label>
    <input type="tel" asp-for="Telefone" class="form-control" placeholder="Ex: 00 0000-0000" />

    <br />
    <label>Observações</label>
    <input type="text" asp-for="Observacoes" class="form-control" />
    <br />
    <button class="btn btn-success">Atualizar</button>
</form>