


@{

    Layout = "_LayoutAdmin";}
<div id="error" value="1">
    <script>

        alert('Ação não pôde ser concluída');
    </script>

    <span>Existe  ordem de serviço ativas com este serviço inserido para corrigir delete a OS ou mude o nome do serviço na OS</span>


    <button class="btn-light" href="/Gestao/OS">Voltar Para OS</button>
    <button class="btn-light" href="/Gestao/Cliente">Ir para Clientes</button>
</div>