@model projetos.Models.OS

<h2>GerarOS</h2>

<input type="hidden" asp-for="ID" value="0">


<form asp-action="GerarOrdemServico" asp-controller="OS" method="post">

    <br />
    <label>Serviço</label>

    <select class="form-control" asp-for="idServico" asp-items='@(new SelectList(@ViewBag.servicos, "ID", "Nome"))'></select>
    <br />
    <label>Cliente</label>
    <select class="form-control" asp-for="idcliente" asp-items='@(new SelectList(@ViewBag.cliente, "ID", "Nome"))'></select>
    <label asp-for="Observacoes">Observações</label>
    <input asp-for="Observacoes" class="form-control" /> <br />
    <button class="btn btn-success">Salvar</button>

</form>
