@model IEnumerable<projetos.Models.OS>


@{

    Layout = "_LayoutAdmin";}
<h2>Clientes</h2>
<hr />
<a asp-action="NovaOS" asp-controller="Gestao" class="btn btn-success">Cadastrar Ordem de serviço</a>
<hr />

   <------->

   </------->


<table id="oSs" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Cliente</th>
            <th>Serviço</th>

            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var oSs in Model)
        {
        <tr>
            <td>@oSs.ID</td>
            <td>@oSs.servico.ID</td>









            <td>
                <a class="btn btn-primary" href="/Gestao/EditarCliente/@oSs.ID">Editar</a>
                <form style="display: inline;" asp-controller="Cliente" asp-action="Deletar">
                    <input type="hidden" name="id" id="id" value="@oSs.ID">
                    <button class="btn btn-danger">Deletar</button>
                </form>
            </td>
        </tr>
        }
    </tbody>
</table>

